/* Color vars */

:root {
  --accent-color: #1767e3;
  --bg-color: #1d1d1f;
  --text-color: #e7e7e7;
  --link-color: #2997ff;
  --img-card-bg: rgb(51, 48, 48);
  --hover-color: rgba(255, 255, 255, 0.15);
  --selected-color: rgba(255, 255, 255, 0.3);
}

/* General */

html {
  color-scheme: dark;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: max-content;
  margin: 0;
  padding-block: 0;
  padding-inline: 0;
  overflow-y: auto;
  overflow-x: hidden;

  background: var(--bg-color);
  color: var(--text-color);
}

input {
  cursor: pointer;
  accent-color: var(--accent-color);
}

@keyframes pulsate {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Popup (Nav) Menu */

.popup-menu {
  z-index: 50;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 12px;
  gap: 8px;
  background: rgba(18, 18, 18, 0.7);
  backdrop-filter: blur(22px);
}

.popup-btn {
  border: none;
  cursor: pointer;

  user-select: none;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 6px;
  height: 30px;
  padding: 16px;

  border-radius: 10px;
  background: var(--img-card-bg);
  color: var(--text-color);
}

.popup-btn:disabled,
input:disabled {
  cursor: not-allowed;
  opacity: 50%;
}

.ionicon {
  color: white;
  width: 18px;
}

/* Image Container */

#container-title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

#img-container {
  display: flex;
  flex-wrap: wrap;
  width: calc(187.5px * 4);

  gap: 10px;
  padding: 10px;
  transition: all 200ms ease;
}

#reload-btn {
  margin: auto;
  display: none;
  margin-bottom: 20px;
}

/* ImgOps Link */

.imgops-link-btn {
  visibility: hidden;
  margin-left: auto;
  padding: 8px;
  border-radius: 8px;
  z-index: 10;
  border: none;
  cursor: pointer;
  user-select: none;
  background: transparent;
  color: var(--link-color);
  font-weight: 600;
}

.imgops-link-btn:hover,
.popup-btn:enabled:hover {
  filter: brightness(110%);
}

.imgops-link-btn:active,
.popup-btn:enabled:active {
  scale: 98%;
  filter: brightness(90%);
}

/* Image Card */

.image-preview {
  user-select: none;
  width: 90%;
  height: 90%;
  max-height: 300px;
  display: block;
  margin: auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.img-select-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
}

.img-card {
  position: relative;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  width: 180px;
  height: fit-content;
  overflow: hidden;
  border-radius: 3px;
}

.img-card:hover {
  background-color: var(--hover-color);
  .img-select-checkbox {
    visibility: visible;
  }
  .imgops-link-btn {
    visibility: visible;
  }
  .imgops-link-btn:not(:hover) {
    animation: pulsate 1.2s infinite;
  }
}

.img-card[selected] {
  background-color: var(--selected-color);
  .img-select-checkbox {
    visibility: visible;
  }
}

.img-name {
  font-size: 12px;
  margin-block: 8px;
  text-align: center;
}
